on charger
    #low power governing
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave
    write /sys/module/msm_hotplug/min_cpus_online 1
    write /sys/module/msm_hotplug/max_cpus_online 1
    write /sys/module/lpm_levels/parameters/sleep_disabled 0
    write /sys/class/devfreq/qcom,cpubw.37/governor "cpubw_hwmon"
    write /sys/class/devfreq/qcom,cache.36/governor "cache_hwmon"

on early-init
    # Backward compatibility
    symlink /system/bin /bin
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin

on enable-low-power
    setenforce 0

    write /sys/module/msm_thermal/core_control/enabled 0

    write /sys/kernel/msm_limiter/scaling_governor interactive
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay "20000 1400000:40000 1700000:20000"
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 90
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 1497600
    write /sys/devices/system/cpu/cpufreq/interactive/io_is_busy 1
    write /sys/devices/system/cpu/cpufreq/interactive/max_freq_hysteresis 100000
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 40000
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "85 1500000:90 1800000:70"
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 30000
    write /sys/devices/system/cpu/cpufreq/interactive/timer_slack 30000

    write /sys/kernel/msm_limiter/scaling_governor impulse
    write /sys/devices/system/cpu/cpufreq/impulse/above_hispeed_delay "20000 1400000:40000 1700000:20000"
    write /sys/devices/system/cpu/cpufreq/impulse/go_hispeed_load 90
    write /sys/devices/system/cpu/cpufreq/impulse/hispeed_freq 1497600
    write /sys/devices/system/cpu/cpufreq/impulse/io_is_busy 1
    write /sys/devices/system/cpu/cpufreq/impulse/max_freq_hysteresis 80000
    write /sys/devices/system/cpu/cpufreq/impulse/min_sample_time 40000
    write /sys/devices/system/cpu/cpufreq/impulse/powersave_bias 1
    write /sys/devices/system/cpu/cpufreq/impulse/target_loads "85 1500000:90 1800000:70"
    write /sys/devices/system/cpu/cpufreq/impulse/timer_rate 30000
    write /sys/devices/system/cpu/cpufreq/impulse/timer_slack 30000

    write /sys/module/msm_thermal/core_control/enabled 1

    write /sys/block/mmcblk0/queue/scheduler bfq

    write /sys/module/msm_hotplug/lock_duration 500
    write /sys/module/msm_hotplug/boost_lock_duration 2500
    write /sys/module/msm_hotplug/update_rates "200 5:100 50:50 350:200"
    write /sys/module/msm_hotplug/fast_lane_load 100

    write /sys/class/devfreq/qcom,cpubw.37/governor "cpubw_hwmon"
    write /sys/class/devfreq/qcom,cache.36/governor "cache_hwmon"

    write /sys/module/cpu_boost/parameters/input_boost_freq 1497600
    write /sys/module/cpu_boost/parameters/input_boost_ms 500
    write /dev/cpuctl/apps/cpu.notify_on_migrate 0

    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"

    write /sys/module/lpm_levels/parameters/sleep_disabled 0
    write /sys/module/state_notifier/parameters/enabled 1
    write /sys/kernel/state_helper/enabled 1

    # Adaptive LMK
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 53059

    # Per-process reclaim
    write /sys/module/process_reclaim/parameters/enable_process_reclaim 1
    write /sys/module/process_reclaim/parameters/pressure_min 10
    write /sys/module/process_reclaim/parameters/per_swap_size 1024
    write /sys/module/process_reclaim/parameters/pressure_max 70
    write /sys/module/process_reclaim/parameters/swap_opt_eff 30

    # VM tuning
    write /proc/sys/vm/dirty_background_ratio 20
    write /proc/sys/vm/dirty_expire_centisecs 200
    write /proc/sys/vm/dirty_ratio 40
    write /proc/sys/vm/page-cluster 0
    write /proc/sys/vm/swappiness 0
    write /proc/sys/vm/vfs_cache_pressure 80

    start postinit

on class_start:late_start
    trigger enable-low-power

on property:init.svc.recovery=running
    trigger enable-low-power

on property:dev.bootcomplete=1
    setprop sys.io.scheduler bfq

service postinit /sbin/post-init.sh
    class main
    user root
    disabled
    oneshot
